.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  width: 100vw;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
