.btn {
  color: var(--text-color);
  padding: 8px 16px;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  background: var(--bg-color);
  width: fit-content;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
  
  &.primary {
    background: var(--primary-btn-bg);
  }

  &:is(:hover, :focus-visible, :active, :focus-within) {
    outline: none;
    box-shadow: 3px 3px 0 1px var(--text-color);
  }

  &.block {
    width: 100%;
  }

}